@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Nanum Gothic", serif;
  /* Full height image header */
  background-position: center;
  background-size: cover;
  background-image: url("https://bin0204.github.io/image/mainp.jpg");

}

.main_logo img{
  /* image to locate in center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* make responsive image */
  width: 100%;
  height: auto;
}

.top_nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: block;
  padding: 8px;
  opacity: 0.8;
  background-color: rgb(252, 238, 222);
}

.top_nav a {
  float: left;
  font-size: 15px;
  font-weight: bold;
  /* display the links as block elements makes
  the whole link area clickable, and it allows us
  to specify padding */
  display: block;
  color: black;
  width: 20%; /* Five links of equal widths*/
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.top_nav a:hover:not(.active) {
  background-color: white;
}

.top_nav a.active {
  background-color: #4CAF50;
}

.bottom_contents img {
  padding: 20px;

  height: auto;
}

hr {
  display: block;
  margin-top: 20%;

  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  /* border-color: rgb(); */
}








/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .bottom_contents img{
  padding-top: 50px;
} */

@media only screen and (max-width: 768px) {
  .bottom_contents img {
    width: 90%;
  }

}
@media screen and (max-width: 480px) {
  .main_logo img {

  }
  .top_nav a {
    float: none;
    display: block;
    font-size: 14px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
  }


}
