@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: "Nanum Gothic", serif;
  /* Full height image header */
  background-position: center;
  background-size: cover;
  /* background-image: url("/Users/seobin/Desktop/commacomma/image/mainpage.jpg"); */
}

.main_logo img{
  /* image to locate in center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* make responsive image */
  width: 100%;
  height: auto;
}
.current-nav {
  color: rgb(30,64,99);
  font-weight: bold;
  background-color: white;
}

.top_nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: block;
  padding: 8px;
  opacity: 0.8;
  background-color: rgb(252, 238, 222);
}

.top_nav a {
  float: left;
  font-size: 15px;
  font-weight: bold;
  /* display the links as block elements makes
  the whole link area clickable, and it allows us
  to specify padding */
  display: block;
  color: black;
  width: 20%; /* Five links of equal widths*/
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.top_nav a:hover:not(.active) {
  background-color: white;
}

.top_nav a.active {
  background-color: #4CAF50;
}


h1 {
  font-size: 33px;
  color: rgb(30,64,99);
  margin-top: 20px;
  text-align: left;
  margin-left: 10%;
  overflow: hidden;
}

h1:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  /*  positioning the line in middle of the text*/
  vertical-align: middle;
  width: 65%;
  left: 0.5em;
  margin-right: -10%;
}

h1 span {
  background: rgb(30,64,99);
}

.left-column {
  padding-left: 15%;
  max-width: 100%;
  height: auto;
  margin-top: 0;
}

.maskDes {
  padding-left: 15%;
  height: auto;
  max-width: 100%;
  margin-top: 0;
}

.fourElements {
  max-width: 100%;
  height: auto;
  padding-left: 30%;
}

.certifi {
  max-width: 100%;
  height: auto;
  padding-left: 30%;
}
@media only screen and (max-width: 768px) {
  .bottom_contents img {
    width: 90%;
  }

 h1:after {
   width: 50%;
 }

 .left-column {
   margin-left: -5%;
   margin-top: -10%;
 }
  .right-column {
    margin-left: 9%;
    margin-top: -10%;
  }
  .maskDes {
    margin-left: -15%;
  }
  .fourElements {
    margin-left: -18%;
  }
  .certifi {
    margin-left: -20%;
  }
}
@media screen and (max-width: 480px) {
  .main_logo img {

  }
  .top_nav a {
    float: none;
    display: block;
    font-size: 14px;
    padding-top: 10px;
    width: 100%;
    text-align: center;
  }
  h1 {
    font-size: 25px;

  }
  h1:after {
    width: 35%;
  }
  .left-column {
    margin-top: -15%;
    margin-left: -10%;
  }
  .maskDes {
    margin-left: -15%;
  }
  .fourElements {
    padding-left: 18%;
  }
  .certifi {
    padding-left: 18%;
  }
}
